{% extends "layout.html" %}

{% block title %}
    Reserve
{% endblock %}

{% block main %}
    <form action="/reserve" method="POST">
        <div class="mb-3">
            <select name="doctor_name">
            <option disabled selected value="">Doctor</option>
            {% for doctor in doctors %}
                <option value="{{ doctor }}">{{ doctor }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <select name="time_slot">
            <option disabled selected value="">Select time slot</option>
                <option value="time_slot_1">Slot 1</option>
                <option value="time_slot_2">Slot 2</option>
                <option value="time_slot_3">Slot 3</option>
                <option value="time_slot_4">Slot 4</option>
                <option value="time_slot_5">Slot 5</option>
            </select>
            </div>
        <button class="btn btn-primary" type="submit">Reserve</button>
    </form>

    <div>
    <footer>
        <br>
        <br>
    </footer></div>
{% endblock %}