{% extends "layout2.html" %}

{% block title %}
    Thank you!
{% endblock %}


{% block main %}
 <style>
body {
  background-image: url('/static/animated-gif-thank-you-52650-282372.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<p style="background-color:black;color:white;text-align:center"> Click <a href="/">here</a> to go to the main page </p>
{% endblock %}